body {
  background-color: aliceblue;
}

h1 {
  text-align: center;
  color: rgb(38, 97, 77);
}
.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: aliceblue;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
h2 {
  margin: 0;
  color: rgb(38, 97, 77);
  font-size: 30px;
}
.date {
  opacity: 0.7;
  color: rgb(38, 97, 77);
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(38, 97, 77);
  background-color: aliceblue;
  color: rgb(38, 97, 77);
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 10px;
  border-bottom: 1px dashed rgb(38, 97, 77);
}
.city:last-child {
  border: none;
}
.time {
  font-weight: bold;
  font-size: 45px;
  color: rgb(38, 97, 77);
}
small {
  vertical-align: middle;
  font-size: 17px;
}
footer {
  text-align: center;
  color: rgba(38, 97, 77, 0.6);
}
a {
  color: rgb(38, 97, 77);
}
